*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('../images/se.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.container{
    background-color: rgba(250, 250, 250, 0.404);
}
section.about-wrapper{
    background-color: rgba(24, 95, 128, 0.486);
}

section.about-wrapper h3{
    color: rgb(255, 0, 0);
    font-size: 40px;
    padding: 5px;
    padding-top: 30px;
    border-bottom: 2px solid rgb(12, 9, 173);
}

section.about-wrapper p{
    padding:20px;
    font-size: 20px;
    font-weight: 200;
    color: rgb(0, 0, 0);
}
ul{
    list-style: none;
    color: rgb(75, 21, 0);
}
ul img{
    width: 20px;
    padding-right: 5px;
    padding-top: 2px;
    margin-top: 5px;
}
.av-left{
    font-size: 16px;
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
}
.av-right{
    font-size: 16px;
    width: 50%;
    text-align: center;
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
}
.ab-wrapper::after{
    content: '';
    display: block;
    clear: both;
}
.ab-wrapper{
    margin-bottom: 30px;
    padding-bottom: 20px;
}
div.data{
    margin-top: 50px;
}
div.data div.inner-data{
    width: 25%;
    float: left;
    text-align: center;
    padding: 30px 0px;
}
div.data::after{
    content: '';
    display: block;
    clear: both;
}
div.data div.inner-data h4{
    color: red;
    font-size: 50px;

}
div.data div.inner-data p{
    color: rgb(40, 129, 5);
    font-weight: bolder;
}
div.footer{
    max-width: 100%;
    padding: 50px 20px;
    background-color: rgba(45, 68, 87, 0.521);
    color: rgb(18, 41, 0);
    margin: 20px 0px;
    margin-top: 50px;
    margin-bottom: 0%;
}

div.footer h2{
    padding: 20px;
    float: left;
    font-weight: 600;
}
div.footer p a{
    display: inline-block;
     color: red;
     float: right;
     background-color: rgb(221, 157, 157);
     border: 2px solid rgb(223, 116, 116);
     text-decoration: none;
     font-size: 40px;
     padding: 10px 50px;
     border-radius: 30px;
}
div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.footer p a:hover{
    color: rgb(19, 30, 185);
    background-color: rgb(172, 113, 102);
    border-color: rgb(112, 148, 133);
}