#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }
section.main-box{
    background-color: rgba(96, 184, 196, 0.438);
    padding-top: 30px;
}
section.main-box .inner-box{
    width: 50%;float: left;
    padding: 20px;

}

section.main-box::after{
    content: '';
    display: block;
    clear: both;
}
section.main-box .box .box-left div.address img{
    color: rgb(92, 4, 4);
    float: left;
    padding-right: 15px;
}
section.main-box .box .box-left div.address::after{
    content: '';
    display: block;
    clear: both;
}
section.main-box .box .box-left div.address{
    margin-bottom:30px ;
    color: rgb(255, 0, 0);
}
section.main-box .box .box-left img{
    display: inline-flex;
    object-fit: cover;
}

section.main-box .box .box-right{
    color: rgb(22, 0, 122);
}
section.main-box .box .box-right .form .form-items{
    padding: 10px;
}
section.main-box .box .box-right .form .form-items label{
    display: block;
    font-size: 25px;
    font-weight: bolder;
    padding-bottom: 5px;
    color: rgb(110, 0, 0);
    width: 100%;
}
section.main-box .box .box-right .form .form-items input {
    width: 100%;
    height: 35px;
    border: 2px solid rgba(63, 151, 173, 0.356);
}
section.main-box .box .box-right .form .form-items textarea{
    width: 100%;
    height: 200px;
}
section.main-box .box .box-right .form input[type="submit"]{
    color: red;
    padding: 12px 30px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 30px;
    text-align: center;
    /* margin: 20px 500px; */
}




div.footer{
    max-width: 100%;
    padding: 50px 20px;
    background-color: rgba(45, 68, 87, 0.521);
    color: rgb(18, 41, 0);
    margin: 20px 0px;
    margin-top: 50px;
    margin-bottom: 0%;
}

div.footer h2{
    padding: 20px;
    float: left;
    font-weight: 600;
}
div.footer p a{
    display: inline-block;
     color: red;
     float: right;
     background-color: rgb(221, 157, 157);
     border: 2px solid rgb(223, 116, 116);
     text-decoration: none;
     font-size: 40px;
     padding: 10px 50px;
     border-radius: 30px;
}
div.footer::after{
    content: '';
    display: block;
    clear: both;
}
div.footer p a:hover{
    color: rgb(19, 30, 185);
    background-color: rgb(172, 113, 102);
    border-color: rgb(112, 148, 133);
}